<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Alumnos Inscritos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <header>
            <h1>Lista de Alumnos Inscritos - {{ seccion.nombre_asignatura }} - Sección {{ seccion.seccion }}</h1>
            <h2>{{ fecha_actual.day }} de {{ meses[fecha_actual.month] }} de {{ fecha_actual.year }}</h2> <!-- Muestra la fecha actual en formato "dd de mes de año" -->
        </header>
    <main>
        <table>
            <caption></caption>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>RUT</th>
                </tr>
            </thead>
            <tbody>
                {% for alumno in alumnos %}
                <tr>
                    <td>{{ alumno.nombre }}</td>
                    <td>{{ alumno.apellido }}</td>
                    <td>{{ alumno.rut }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
